.orl1 h3{ 
    text-align: center;  
    font-size: 30px;
}
.orl1 p{
    background-color: white;
    background-size: 5%;
    

}
.can1 h3{
    text-align: center;
    font-size: 30px;

}
.can1 small{
    text-align: center;
}