body{
     background-image:url(dog.png) ;
     background-repeat: no-repeat;
     background-size: 100%;
    

}

.cabeça{
     
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%; 
    float: left;
    height: 30%; 
    
    
}
.menu{ 
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%; 
    float: right;

    height: 30%;

    

}
.menu li{ 
    text-align: right;
    display: inline;
    text-decoration: none;
 
}

.conteudo{
     text-align: left; 
     background-color: gray; 
     height: 20%;
    


}
.conteudo2{ 
    background-color: rgb(186, 177, 177);
    padding-left: 3%;
    padding-right: 15%;

}
.contato{
     
    background-color: rgb(245, 245, 30);
    font-size: larger;
    width: 30%;
    text-align: center;
 
}
.contato1{
    background-color: white; 
    text-align: center;

}
.rodape{
    background-image: url(pata-de-design-de-logotipo-de-animal-de-estimacao-vetor-para-loja-de-animais_53876-136741.jpg)
    ;
    background-size: 5%;
   
}
.p{
      text-align: left;
      background-color:rgb(223, 223, 217) ;

}
.logo{
    background-image: url(pata-de-design-de-logotipo-de-animal-de-estimacao-vetor-para-loja-de-animais_53876-136741.jpg)
    ;
    background-size: 5%;


}
